html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: #000;
}
article {
  position: relative; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  position: relative;
  display: none;
}

p {
  margin: 0.5em;
}

a {
  color: #AF3632;
}
a:visited {
  color: #aa381e;
}

section.active {
  display: flex;
  height: 100%;
}

div {
  background-color: #fff;
}

div.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.image, div.text {
  width: 50%;
}

section#splash div {
  position: relative;
  height: 100vmin;
  width: 100vmin;
}

#splash img {
  width: 100%;
  height: 100%;
}
#splash p {
  position: absolute;
  bottom: 0.2em;
  left: 0.3em;
  text-align: left;
  margin: 0;
  font-size: 2.5vmin;
}

#silverchair img {
  width: 100%;
}

#silverchair .text {
  font-size: 4.2vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#silverchair .image {
  background-color: #000;
}
