html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: #000;
  display:flex;
  justify-content: center;
}
article {
  position: relative; 
  height: 100%;
  width: 100vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div {
  position: relative;
  height: 100vmin;
}
img {
  width: 100%;
  height: 100%;
}
p {
  position: absolute;
  bottom: 0.2em;
  left: 0.3em;
  text-align: left;
  margin: 0;
  font-size: 2.5vmin;
}
a {
  color: #AF3632;
}
a:visited {
  color: #aa381e;
}